.site-header {
    margin: 30px 0;
}

.header-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
}

.nav-list {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid #999;
}

.search-form {
    margin-left: 40px;
    /* border: none; */
    /* outline: none; */
}

.nav-link {
    text-decoration: none;
    color: #999;
}

.search-input {
    padding: 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #B2B2B3;
}